@font-face {
  font-family: calculator;
  src: url(aperture2.0-webfont.ttf);
}

img{
  max-width: 400px;
  max-height: 400px;
}
.container {
  display: flex;
  text-align: center;
  /* width: 90vw; */
  /* position: absolute; */
}

.image1{
  flex:1;
  margin-bottom: 100px;
  margin-left: 150px;
  /* position: absolute; */
}
.image2{
  flex:1;
  margin-bottom: 100px;
  margin-right: 150px;
/* position: absolute; */

}
.title{
  /* position: absolute; */
  margin-top: 50px;
  /* background-color: #fddd5c; */
  text-align: center;
  margin-bottom: 50px;
  height: 150px;
  display: flex;
}

.headerr{
  position: absolute;
  display: inline-flex;
  width: 100vw;
  font-family: 'anonymous pro';
  /* font-style: italic; */
}

.text2{
  text-align: right;
  position: absolute;
  right:75px;
  justify-content: right;
  justify-self: right;
  align-self: right;

}
.text1{
  text-align: left;
  position: absolute;
  left:50px;
  justify-content: left;
  justify-self: left;
  align-self: left;
}

h1{
  /* font-family: Arial; */
  font-size: 50pt;
  font-weight: bold;
  margin: auto;
}

body{
  background-color: white;
  overflow: hidden;
  /* font-family: 'Gotham'; */
  font-family: calculator, sans-serif;


}

p{
  color: black;
  font-size: 20pt;

  /* border-color: black; */
}

@media (max-width: 1000px){

  body{
    margin: 0;
    padding: 0;
    display: grid;
align-content: center;
  }


  img{
    max-width: 600px;
    max-height: 600px;
  }
  .headerr{
    display: block;
    justify-content: center;
top:0;
left: 0;

    position: absolute;
    text-align: center;
    justify-content: center;

    align-items: center;
    height: 20vh;
    width: 100vw;
    font-size: 2em;

  }

  .text2{

    /* flex:1; */
    /* width: 100vw; */
    height: 100px;
    margin-top: 100px;
    text-align: center;
    left: 15%
    /* padding: 20%; */
  }
  .text1{
    /* flex:1; */
    /* width: 100vw; */
    height: 100px;
    margin-top: 150px;
    text-align: center;
    left: 24%
    /* padding: 20%; */
  }



/* //// */

  .container {
    margin-top: 0px;
    display: grid;
    position: absolute;
    text-align: center;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    /* grid-column: 100px;     */
    /* width: 90vw; */
    /* position: absolute; */
  }


  .image2{
    flex:1;
    margin-bottom: 100px;
    margin-right: 0px;
  /* position: absolute; */
}

.image1{
  flex:1;
  margin-bottom: 100px;
  margin-left: 0px;
  /* position: absolute; */
}

.title{
  /* position: absolute; */
  margin-top: 200px;
  width: 100vw;

  /* background-color: #fddd5c; */
  text-align: center;
  /* margin-bottom: 50px; */
  /* height: 150px; */
  /* display: flex; */
}

}
