body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: white;
  /* font-size: 1000; */
  font-family: 'Gotham', sans-serif;
}

.everything{
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.choose{
  font-size: 3em;
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-self: center;
  text-align: center;
  padding-top: 5em
  /* justify-content: center; */
  /* text-align: center; */
}

.choices{
  width:100vw;
  height: 100vh;
  /* justify-self: center; */
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  align-content: center;
  /* position:  absolute; */
  display: flex;
  padding-top: 15em;
}

.science{
  /* padding-top: 5em; */
  width: 25em;
  height: 25em;
  /* display: flex;
  display: inline-grid; */
  /* position: absolute; */

}
.art{
  /* padding-top: 5em; */
  width: 25em;
  /* display: inline-grid; */
  height: 25em;
  /* display: flex; */
  /* position: absolute; */
}
